
<center><b><font size="+4">통계데이터베이스 Python 기초 (1)</font></b></center>

<b>    </b>

<CENTER><b><font size="+1.5">2024년 1학기 전북대 통계학과 김광수</font></b></center>

In [ ]:
print("hello")

hello

In [ ]:
3 + 5

8

#### 정수형은 정수형으로 반환하게 됨

In [ ]:
3.0 + 5

8.0

#### 실수형과 정수형이 같이 연산되면 실수형으로 반환

In [ ]:
int(1.4 + 7)

8

#### 실수형으로 반환되나 int 명령문을 이용하여 정수형으로 변환

In [ ]:
4/2

2.0

#### 나눗셈 연산은 자동으로 실수형으로 전환

In [ ]:
print(2**7)
price = 2.0451
round(price,2)

128

2.05

### 반올림을 함

In [ ]:
print('vb_'+str(3))

vb_3

#### 숫자를 문자열로 바꾸고 + 로 연결함

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

#### 긴 문자열을 나누어서 출력하는 것이 가능함

In [ ]:
a='abv'
print(a[2])

v

#### 문자열을 받아서 첨자 단위로 막바로 구분, 2는 세번째 문자를 말함

In [ ]:
ch = 'jupyter'
print(ch[0:2])
print(ch[-1])
print(ch[3:4])
print(ch[-5])
print(ch[7])

ju
r
y
p

IndexError: string index out of range

#### 문자열의 위치를 잡아서 출력하게 함

#### 음의 값들은 뒤로 순서를 붙이는 것으로 보면 됨

#### 양수에서 첨자가 범위를 벗어나면 오류가 발생

In [ ]:
ch[0:] = 'L'

jupyter

TypeError: 'str' object does not support item assignment

#### 문자열에는 개별단위로 값을 집어 넣을 수가 없음

In [ ]:
print(ch[0:])

jupyter

#### 0 (첫번째 위치)부터 시작한 전체를 의미

In [ ]:
print(ch[:2])

ju

#### 처음부터 시작해서 두번째 위치까지 (0,1)

In [ ]:
v = [3,4,5]
print(v+[2,4])

[3, 4, 5, 2, 4]

#### 리스트 두 개에 대해서 + 는 원소별 합이 아니라 두 개를 합치는 것임

In [ ]:
v.append(4)
print(v)

[3, 4, 5, 4, 4]

#### append 명령문을 통해서 끝에 하나의 값을 더 붙인 리스트를 만듬

In [ ]:
lt = ['d', 'e', 'f']
lt[1] = 'D'
print(lt)

['d', 'D', 'f']

#### 원소 하나 하나를 문자로 지정하는 경우 값의 교체가 가능

In [ ]:
a = ['f', 'h', 'j']
n = [1, 2, 3]
x = [a, n]
print(x)
print(x[0])
print(x[0][1])

[['f', 'h', 'j'], [1, 2, 3]]
['f', 'h', 'j']
h

#### 두 개의 리스트를 합치는 것도 가능하며 이 경우 불러오는 방법은 첫번째 []를 이용, 다음 []로 원소를 불러옴

In [ ]:
x[0][1] = [] # 하나의 첨자
print(x[0])
x[0][1:2] =[] # 순열로 잡음
print(x[0])

['f', [], 'j']
['f', 'j']

#### 여기에서 첨자 하나로 잡은 것은 값만 바뀌지만, 순열을 잡은 것은 내용을 삭제하게 됨

In [ ]:
!python -m pip install numpy
import numpy as np
a = np.array([[9]])
print(a.shape)

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)
(1, 1)

In [ ]:
a = np.array([2,3,4])
print(a)
a = np.array([[2,3],[4,5]])
print(a)
print(a.shape)

[2 3 4]
[[2 3]
 [4 5]]
(2, 2)

#### numpy 패키지를 사용 / a를 배열로 잡고 출력 / 2차원 배열 지정 및 데이터 형태 출력

In [ ]:
print(a[0,0:2])

[2 3]

In [ ]:
print(a[0:2,1])

[3 5]

#### 첨자를 지정해서 출력함

In [ ]:
a = np.linspace(2.0, 3.0, num=30)
print(a)
print(np.where(a>=2.5)[0])

[2.         2.03448276 2.06896552 2.10344828 2.13793103 2.17241379
 2.20689655 2.24137931 2.27586207 2.31034483 2.34482759 2.37931034
 2.4137931  2.44827586 2.48275862 2.51724138 2.55172414 2.5862069
 2.62068966 2.65517241 2.68965517 2.72413793 2.75862069 2.79310345
 2.82758621 2.86206897 2.89655172 2.93103448 2.96551724 3.        ]
[15 16 17 18 19 20 21 22 23 24 25 26 27 28 29]

#### 2에서 3까지 30개의 등간격의 값들로 1차원 배열을 구성 / 배열 a에서 2.5 이상의 값을 가진 첨자를 반환

In [ ]:
print(a[1])
print(a.shape)
print(a[1,1,:])a = np.array([[[2,3,4],[5,6,7]],[[2,3,4],[6,8,9]]])

[[2 3 4]
 [6 8 9]]
(2, 2, 3)
[6 8 9]

#### 3차원 배열을 지정, 첫 첨자가 1인 값과 차원 그리고 지정된 첨자의 값들을 보여줌

In [ ]:
print(np.zeros(2))
print(np.ones(4))
print(np.ones((2,3)))

[0. 0.]
[1. 1. 1. 1.]
[[1. 1. 1.]
 [1. 1. 1.]]

#### 모든 원소들의 값이 0이나 1인 배열을 만듬 / 2차원 배열도 가능

In [ ]:
a = np.array(range(4))
print(a)
a = np.array([3,5,2,6])

[0 1 2 3]

#### range(4) = [0,1,2,3]을 배열로 입력

In [ ]:
np.sort(a)

array([2, 3, 5, 6])

#### a 에 입력된 값들을 순서대로 정렬하여 출력

In [ ]:
order = np.argsort(a)
print(order)
print(a[order])

[2 0 1 3]
[2 3 5 6]

#### 작은순으로 해당 첨자를 불러오고 그 첨자로 재출력

In [ ]:
a = np.ones(3)
b = np.array([2,4,6])
print(np.concatenate((a,b),axis=0))

[1. 1. 1. 2. 4. 6.]

#### 두 개의 배열을 하나로 합침 / 벡터의 원소를 늘리는 방식임 (다차원 배열의 경우에는 별도의 규칙이 적용)

In [ ]:
a = np.append(a,3)
print(a.shape)
a = np.reshape(a, (2,2))
print(a.shape)
b = np.array([[1,3],[3,4]])

(4,)
(2, 2)

#### a의 원소를 네 개로 늘리고 2*2 배열로 전환 / b를 생성

In [ ]:
print(a)
print(b)
print(np.concatenate((a,b),axis=0))
print(np.concatenate((a,b),axis=1))

[[1. 1.]
 [1. 3.]]
[[1 3]
 [3 4]]
[[1. 1.]
 [1. 3.]
 [1. 3.]
 [3. 4.]]
[[1. 1. 1. 3.]
 [1. 3. 3. 4.]]

#### 행을 늘려 붙이는 방법 / 열을 늘려 붙이는 방법 (axis=1)

In [ ]:
v = np.concatenate((a,b),axis=1)
print(v.ndim)
print(v.size)
print(v.shape)

2
8
(2, 4)


#### 차원의 개수 / 원소의 개수 / 차원 벡터

In [ ]:
v = np.array([3,4,5])
print(v.shape)
vv = np.array([[3],[4],[5]])
print(v.shape)

(3,)
(3,)

#### 차원을 확인함 / 배열의 차원은 [ ]에 의존

In [ ]:
vvv = v[np.newaxis,:]
print(vvv.shape)
vvv = v[:,np.newaxis]
print(vvv.shape)

(1, 3)
(3, 1)

#### 특별한 명령문을 통해서 차원을 늘림

In [ ]:
h = np.array(range(6))
print(np.reshape(h, (2,3), order='F'))
print(np.reshape(h, (2,3), order='C'))

[[0 2 4]
 [1 3 5]]
[[0 1 2]
 [3 4 5]]

#### 차원을 바꿀때 행이나 열단위 지정을 하는 옵션

In [ ]:
aa = np.array([[1,2,3,4],[5,6,7,8],[3,5,7,9]])
print(aa)
print(aa[aa<4])

[[1 2 3 4]
 [5 6 7 8]
 [3 5 7 9]]
[1 2 3 3]

#### 배열에서 특정 조건을 만족하는 원소를 찾음 / 배열구조는 깨짐

In [ ]:
(aa > 3) & (aa < 5)

array([[False, False, False,  True],
       [False, False, False, False],
       [False, False, False, False]])

#### 논리형으로 3보다 크고 5보다 작은 위치를 T, F로 표시

In [ ]:
a = np.array([[2,3],[1,2]])
b = np.array([[1,4],[2,6]])
c = np.vstack([a,b])
print(c)
print(np.hstack([a,b]))

[[2 3]
 [1 2]
 [1 4]
 [2 6]]
[[2 3 1 4]
 [1 2 2 6]]

#### 두개의 배열을 행으로 쌓거나 열로 쌓는 함수

In [ ]:
cc = np.arange(30).reshape(5,6)
print(cc)
nn = np.hsplit(cc,2)
print(nn)
print(nn[0])

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]]
[array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14],
       [18, 19, 20],
       [24, 25, 26]]), array([[ 3,  4,  5],
       [ 9, 10, 11],
       [15, 16, 17],
       [21, 22, 23],
       [27, 28, 29]])]
[[ 0  1  2]
 [ 6  7  8]
 [12 13 14]
 [18 19 20]
 [24 25 26]]

#### 0부터 29까지의 수열을 5*6 배열로 전환 / 열로 두 개로 쪼개서 저장함 - 리스트로 저장됨에 유의

In [ ]:
print(cc.shape)
print(nn.shape)

(5, 6)

AttributeError: 'list' object has no attribute 'shape'

#### numpy 배열은 shape이 지정되지만 list는 지정되지 않음

In [ ]:
a = np.ones(2, dtype='int')
b = np.array([2.0,3])
print(a+b)
print(a*b)
print(a/b)

[3. 4.]
[2. 3.]
[0.5        0.33333333]

#### 모든 원소가 1인 배열을 정수형으로 지정, 다음 배열은 실수형임 / 모든 연산의 결과를 실수형임

In [ ]:
c = np.vstack([a,b])
print(c)

[[1. 1.]
 [2. 3.]]

#### 배열 두 개를 수직방향으로 쌓음

In [ ]:
c.sum()

7.0

#### 모든 원소의 합은 7

In [ ]:
print(np.sum(c,axis=0))
print(np.sum(c,axis=1))

[3. 4.]
[2. 5.]

#### axis는 연산을 수행하는 축

In [ ]:
print(np.max(c,axis=0))
print(np.max(c,axis=1))

[2. 3.]
[1. 3.]

#### 열단위 최댓값과 행단위 최댓값

In [ ]:
c = np.array([[[1,2],[1,4]],[[2,3],[4,5]]])
print(np.mean(c,axis=0))

[[1.5 2.5]
 [2.5 4.5]]

#### 첫번째 첨자 단위로 평균을 계산 (나머지 2차원 첨자로 출력)

In [ ]:
print(np.mean(c,axis=(0,1)))

[2.  3.5]

#### 첫번째와 두번째 첨자에 있는 모든 원소로 연산

In [ ]:
v = np.ones((2,3,4))*2
print(v)

[[[2. 2. 2. 2.]
  [2. 2. 2. 2.]
  [2. 2. 2. 2.]]

 [[2. 2. 2. 2.]
  [2. 2. 2. 2.]
  [2. 2. 2. 2.]]]

#### 배열로 차원을 3차원으로 잡음

In [ ]:
a = np.random.default_rng()
a.random(4)

array([0.72769406, 0.24716828, 0.97481047, 0.73675585])

#### 4개의 난수를 생성함

In [ ]:
a.random((3,5))

array([[0.90161925, 0.27815814, 0.04665982, 0.84746112, 0.42222611],
       [0.1827799 , 0.05236477, 0.05309317, 0.40739973, 0.52122631],
       [0.3035209 , 0.57839029, 0.01470269, 0.09367125, 0.94705791]])

#### 3*5 배열의 난수를 생성

In [ ]:
a = np.array([2,4,2,3,5,3,4])
v, pt = np.unique(a, return_counts =True)
print(v)
print(pt)

[2 3 4 5]
[2 2 2 1]

#### 배열 a에 있는 구별되는 값들과 그 갯수를 반환

In [ ]:
ss = np.array([[2,3],[4,5],[2,3]])
v, l = np.unique(ss,axis=0,return_index=True)
print(v)
print(l)
print(np.unique(ss))

[[2 3]
 [4 5]]
[0 1]
[2 3 4 5]

#### 이차원 배열에서 행들의 유일성을 살펴보거나 원소들의 유일성을 살펴봄

In [ ]:
a = np.array([[2,3],[4,6]])
print(np.flip(a))
print(np.flip(a,axis=1))
print(np.flip(a,axis=0))

[[6 4]
 [3 2]]
[[3 2]
 [6 4]]
[[4 6]
 [2 3]]

#### 순서를 바꿀때 축 단위로 지정해서 하는 것이 가능함